<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<h2>First Post</h2>
<p><%= @user.microposts.first.content %> <b><%= link_to 'Edit', edit_micropost_path( @user.microposts.first) %></b></p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
